.navbar{ 
    width: 100%;
    height: auto;
    text-align: center;
}


.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#uneb{
    padding: 50px;
}
    